/* Шапка */
.header{
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 78px 50px 81px;
}

/* Навигационное меню в шапке*/
.header__links-list{
    display: flex;
    gap: 34px;
    list-style: circle;
}

.header__link,
.header__link_active
{
    font-size: 18px;
    text-transform: lowercase;
}

.header__link_active{
    text-decoration: none;
}

.header__links-list-item_no-bullit{
    list-style: none;
}

/*Логотип в шапке*/
.header__logo{
    width: 148px;
}
.header__logo-image{
    padding: 13px 7px;
}

/*Блок с адресом в шапке*/
.address{
    font-size: 18px;
    justify-self:end;
}

.header__address{
    width: 240px;
}

/*Обложка*/
.cover{
    background-image: url("../images/cover.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 757px;
    position: relative;
    z-index: 2;
    padding: 155px 20px 50px 50px;
    color: #fff;
}

/*Стилизация текст в блоке Обложка*/
.aligned-text{
    font-size: 100px;
    font-weight: bold;
    line-height: 135px;
    text-transform: uppercase;
    letter-spacing: 30px;
}

.aligned-text_left{
    text-align: left;
}

.aligned-text_center{
    text-align: center;
}

.aligned-text_right{
    text-align: right;
}

/*Подзаголовок блоке Обложка*/
.cover__description{
    padding-top: 97px;
    display: flex;
    align-items: center;
}

.cover__description-text{
    text-transform: uppercase;
    font-size: 22px;
    word-spacing: 19px;
}

/*Кнопка блоке Обложка*/
.bet-button{
    background-color: transparent;
    margin-left: 106px;
    color: #fff;
    padding: 11px 32px;
    font-size: 22px;
    text-transform: uppercase;
    border: 1px solid #fff;
    cursor: pointer;
}

/* Блок Лоты*/
.lots{
    margin-top: 180px;
}

/*Заголовок блока Лоты*/
.lots__heading{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 4px;
    padding-left: 65px;
}

/* Карточки блока Лоты*/
.lots__card-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
    padding: 0px 25px; 
}

.card_type_film{
    background-image: url("../images/card-lot-01.jpg");
}

.card_type_book{
    background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture{
    background-image: url("../images/card-lot-03.jpg");
}

.card{
    margin: 25px 0;
    color: #fff;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 48px 40px;
    position: relative;
    z-index: 2;
    min-height: 596px;
    width: 334px;
    background-size: cover;
    background-position: center;
}

.card-link{
    text-decoration: none;
}

.card__title{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    text-decoration: underline;
}

.card__text{
    font-size: 20px;
}

/*Кнопка посмотреть больше блока Лоты*/
.lots__look-more-link{
    font-size: 20px;
    text-transform: lowercase;
    padding-top: 7px;
    padding-left: 65px;
}

/*Блок Об Аукционе*/
.about{
    padding-top: 154px;
    padding-left: 30px;
}

.about__column{
    display: grid;
    grid-template-columns: 334px 1fr;
    gap: 20px;
}

/* Логотип блока Об Аукционе */
.about__logo{
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    padding: 65px 47px 62px 50px;
    margin-left: 40px;
}

.about__logo-image{
    align-items: center;
    justify-content: center;
}

/* Отступы текстового блока Об Аукционе*/
.about__description{
    padding-top: 100px;
}

/*Загаловок */
.about__title{
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 100px;
}

/*Текст Об Аукционе*/
.about__description-text{
    display: flex;
    flex-direction: column;
    gap: 23px; 
}

.about__text{
    font-size: 20px;
    line-height: 24px;
}

.about__text:first-child{
    max-width: 683px;
}

.about__text:last-child{
    max-width: 693px;
}

/*Подвал*/
.footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 170px 50px 82px 50px;
}

/* Социальные сети в подвале */
.footer__social-list{
    display: flex;
    padding-top: 10px;
    justify-content: center;
    justify-self: end;
    list-style: none;
    gap: 48px;
}

.footer__social-list-item{
    width: 48px;
}

/* Навигация в подвале */
.footer__menu{
    text-align: center;
    padding-top: 13px;
}

.footer__menu-list{
    list-style: none;
}

.footer__menu-list-item{
    font-size: 18px;
}

.footer__menu-link_active{
    text-decoration: none;
}

/* Адрес подвала */
.footer__address{
    margin-top: 13px;
    width: 260px;
    justify-self:start;
}

/* Другое */
.overlay{
  position: absolute;
  background-color: rgb(0, 0, 0, 0.6);
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.address{
  font-style: normal;
  line-height: 24px;
}